.scrollBar {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #e8e3e3; 
  }
  &::-webkit-scrollbar-thumb {
    background: #c2bebe; 
    border-radius: 2px;
  }
}