.animation-sideBarOpen {
  animation: sideBarOpen .2;
}
.animation-sideBarCancel {
  animation: sideBarCancel .2;
}

@keyframes sideBarOpen {
  0% {
    transform:  translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes sideBarCancel {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}